--find-links https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio
spacy
transformers
rdflib
requests
beautifulsoup4
pyshacl
tf-keras
tiktoken
tensorflow
sentencepiece
protobuf
pandas
pyvis
networkx
tk
tkinterhtml
tkinterweb
SPARQLWrapper
scipy